/* TicTacToe.css */

/* 游戏面板样式 */
.status {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  /* 游戏棋盘样式 */
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #fff;
  }
  
  /* 点击后的样式 */
  .square:focus {
    outline: none;
  }
  
  /* 胜利行的样式 */
  .win-line {
    background-color: yellow;
  }
  